*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* regole generali pagina */


/* container sinistra (nav) */

#left-container{
    width: 200px;
    height: calc(100vh - 100px);
    background-color:#000000;
    padding-left: 20px;
    padding-top: 25px;

}


#logo-spotify{
    max-width: 130px;
}




/* <!-- flex su bordo schermo sinistro per affiancare l'header alla navbar --> */

#flex-bordo-schermo{
    display: flex;



}


/* container in alto (header)*/

#top-container{
    width: calc(100vw - 200px);
    height: 100px;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



#button-upgrade{
    border: 1px solid white;
    color: white;
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 30px;
    margin-right: 5px;
}



/* <!-- flex per incolonnare l'header sopra al main --> */

#flex-centro{
    display: flex;
    flex-direction: column;

}

/* main section sezione principale */


#sezione-principale{
    background-color: #141922;
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);

}


















/* footer */

#footer-dimensions{
    height: 100px;
    width: 100vw;
    background-color: #282828;


}